---
layout: default
title: Home
---

{% include header-home.html %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="columns negative-m-s">

      <div class="column col-3 col-md-2">
      </div>

      <div class="column col-3 col-md-4 col-sm-8">
        <a href="https://whitepaper.woh.games" target="_blank">
          <div class="card card-link">
            <div class="card-body text-center my-3">
              <h5 class="text-bold">Whitepaper</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>

      <div class="column col-3 col-md-4 col-sm-8">
        <a href="https://handbook.woh.games" target="_blank">
          <div class="card card-link">
            <div class="card-body text-center my-3">
              <h5 class="text-bold">Handbook</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="column col-3">
      </div>

      <!-- {% include more-help.html %} -->
    </div>
  </div>
</div>
